#!/bin/bash

set -eufo pipefail

brew tap homebrew/cask-fonts

{{ $brews := list
     "age"
     "bat"
     "btop"
     "curl"
     "eza"
     "fd"
     "ffmpeg"
     "font-meslo-lg-nerd-font"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "go"
     "golangci-lint"
     "jq"
     "mise"
     "neovim"
     "openjdk"
     "pkg-config"
     "postgis"
     "ripgrep"
     "shellcheck"
     "tmux"
     "wget"
     "xz" -}}
{{ $casks := list
     "1password-cli"
     "balenaetcher"
     "battery"
     "transmission" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
