# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

SCRIPTDIR="$(cd -P -- "$(dirname -- "$(command -v -- "$0")")" && pwd -P)"

source $HOME/.config/zsh/features/000_path.zsh
source $HOME/.config/zsh/env.zsh
source $HOME/.config/zsh/bindings.zsh
source $HOME/.config/zsh/ohmy.zsh

source $HOME/.config/zsh/antigen.zsh
source $HOME/.config/zsh/aliases.zsh
# source $HOME/.config/zsh/fzf-theme.zsh

source $HOME/.config/zsh/features/antigen_setup.zsh

eval "$(starship init zsh)"

source $HOME/.config/zsh/features/conda.zsh
source $HOME/.config/zsh/features/kubernate.zsh

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

export PATH=$PATH:/opt/homebrew/bin

# k3d
[[ ! -f ~/.k3d-completion ]] || source ~/.k3d-completion

[[ ! -f ~/.kubectl-completion ]] || source ~/.kubectl-completion

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

autoload -U compinit; compinit