{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
brew tap railwaycat/emacsmacport
brew install emacs-mac --with-modules --with-mac-metal --with-big-sur-icon
ln -sf /usr/local/opt/emacs-mac/Emacs.app /Applications/Emacs.app

{{ end }}