#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}

# cleaning user fonts
#sudo rm -f -- ~/Library/Fonts/*

# installing PowerLine fonts
if [ ! -d "/tmp/vendor/fonts" ]; then
git clone https://github.com/powerline/fonts.git --depth=1 /tmp/vendor/fonts
fi

/tmp/vendor/fonts/install.sh

{{ else if (eq .chezmoi.os "linux")  -}}

# installing fonts from package manager
sudo apt update
sudo apt install -y --no-install-recommends fonts-powerline

{{ end -}}


