#!/bin/bash

# Setup fish
{{- if .is_linux }}
apt-get update -yq && apt-get install fish
echo /usr/local/bin/fish | sudo tee -a /etc/shells
chsh -s /usr/local/bin/fish
{{ else if .is_mac }}
brew install fish
echo "/opt/homebrew/bin/fish" sudo tee -a /etc/shells
chsh -s /opt/homebrew/bin/fish
{{ end -}}
