{{ if .is_mac -}}

#!/bin/bash

set -eufo pipefail

brew tap railwaycat/emacsmacport
brew install emacs-mac --with-modules --with-mac-metal --with-spacemacs-icon
ln -sf /usr/local/opt/emacs-mac/Emacs.app /Applications/Emacs.app

if [[ ! -d $HOME/.emacs.d ]]; then
git clone --depth 1 https://github.com/doomemacs/doomemacs ~/.emacs.d
~/.emacs.d/bin/doom install
fi

{{ end }}
