#!/bin/bash

# Setup fish
{{- if .is_linux }}
sudo apt-get update -yq && sudo apt-get install fish -yq
echo /bin/fish | sudo tee -a /etc/shells
# chsh -s /bin/fish
{{ else if .is_mac }}
brew install fish
echo "/opt/homebrew/bin/fish" sudo tee -a /etc/shells
# chsh -s /opt/homebrew/bin/fish
{{ end -}}

ZSH_CUSTOM=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions

# Install zsh
#  sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
#  git clone https://github.com/zsh-users/zsh-autosuggestions.git $ZSH_CUSTOM/plugins/zsh-autosuggestions
#  git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_CUSTOM/plugins/zsh-syntax-highlighting
#  git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k
#  git clone https://github.com/zsh-users/zsh-completions $ZSH_CUSTOM/plugins/zsh-completions