HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config

HashKnownHosts no

Host *
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
  Hostname github.com
  PreferredAuthentications publickey
  IdentityFile /Users/auser/.ssh/id_ed25519

Host work
  Hostname bitbucket.org
  User git
  AddKeysToAgent yes
  IdentityFile ~/.ssh/herring_id_ed25519
