
Include ~/.orbstack/ssh/config

HashKnownHosts no

Host *
  AddKeysToAgent yes
  UseKeychain yes
  ForwardX11 no
  ForwardAgent yes
HashKnownHosts no

# Include config.d/devbox

Host *
  AddKeysToAgent yes
  UseKeychain yes
  ForwardX11 no
  ForwardAgent yes

Host github.com
  User git
  Hostname github.com
  PreferredAuthentications publickey
  IdentityFile /Users/auser/.ssh/id_ed25519
  IdentitiesOnly yes
