{{- if .is_mac -}}
{{- $brews := list
    "chezmoi"
    "coreutils"
    "ctags"
    "curl"
    "diff-so-fancy"
    "direnv"
    "findutils"
    "fzf"
    "git"
    "gnu-sed"
    "gnu-tar"
    "htop"
    "httpie"
    "hub"
    "jq"
    "moreutils"
    "openssl@3"
    "pre-commit"
    "reattach-to-user-namespace"
    "shellcheck"
    "the_platinum_searcher"
    "the_silver_searcher"
    "tig"
    "tldr"
    "tmux"
    "tree"
    "neovim"
    "vim"
    "wget"
    "z"
    "zsh"
    "zsh-syntax-highlighting"
-}}

{{- $casks := list
    "1password-cli"
    "gpg-suite"
    "insomnia"
    "iterm2"
    "slack"
    "visual-studio-code"
-}}

{{- $nodes := list
    "17.8.0"
-}}

{{- if .with_docker -}}
{{-   $casks = concat $casks (list "docker") -}}
{{- end -}}

{{- if .with_golang -}}
{{-   $brews = concat $brews (list "go") -}}
{{- end -}}

{{- if .with_terraform -}}
{{-   $brews = concat $brews (list "terraform") -}}
{{- end -}}

{{- if .with_aws -}}
{{-   $brews = concat $brews (list "awscli") -}}
{{- end -}}

#!/bin/bash

set -eufo pipefail

export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications --fontdir=${HOME}/Library/Fonts --no-binaries"
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1

echo $PATH

brew update
brew upgrade
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
brew cleanup

{{ if .with_javascript -}}
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && source "/opt/homebrew/opt/nvm/nvm.sh"
{{   range ($nodes) -}}
nvm ls "{{ . }}" &>/dev/null || nvm install "{{ . }}"
{{   end -}}
{{- end -}}

{{- end -}}

